<div id="<%= dom_id profile_user %>"
     class='min-h-96 rounded-xl transform transition duration-500' >
  <div class="mx-auto mt-16 justify-center" style="max-width: 36rem;">
    <div class="m-auto w-full border-2 p-4 rounded-xl border-opacity-50">
      <div class="my-5 mx-3 text-xl grid grid-cols-2 gap-2 text-gray-200 justify-between items-center">
        <div class="grid-cols-1 mx-auto ml-7">
          <%#= AvatarPresenter.call(current_user, 150) %>
          <%= image_tag(profile_user.profile_avatar, class: ' ') %>
        </div>
        <div class="grid-cols-2 flex flex-col">
          <%= link_to profile_user.email, edit_user_registration_path,
                      class: 'mb-2 hover:text-yellow-400 focus:opacity-90 transition duration-300 cursor-pointer',
                      data: { turbo_frame: :rooms }
                      # data: { turbo_frame: :user_modal }
                      %>
          <span class='text-xs text-gray-400'>
            Created at <%= time_ago_in_words(profile_user.created_at) %> ago
          </span>
        </div>
      </div>
      <hr>
      <div class="mt-4 mx-3 flex justify-between">
        <% if user&.id == profile_user.id %>
          <div class="flex">
           <%= link_to 'Edit user', edit_user_registration_path,
                                    data: { turbo_frame: :rooms },
                                    # data: { turbo_frame: :user_modal },
                                    # data: { turbo_frame: :rooms }, target: :user_modal,
                                    class: "rounded-lg py-3 px-5 bg-yellow-400 text-lg filter saturate-150 contrast-75 text-yellow-800 hover:opacity-80 transition duration-300",
                                    style: "background: rgb(106, 90, 205); color: white;" %>
            <%= button_to 'Delete', cancel_user_registration_path, method: :delete,
                                    data: { confirm: "Are you sure you want to delete this user?", turbo_frame_target: :rooms },
                                    class: "ml-2 py-3 px-5 bg-transparent border-2 border-grey-300 text-grey-300 text-lg filter saturate-150 contrast-75 opacity-50 rounded-lg hover:border-yellow-400 hover:text-yellow-400 hover:opacity-100 focus:border-4 focus:border-yellow-300 focus:opacity-90 transition duration-300 cursor-pointer" %>
          </div>
        <% end %>
          <%= link_to '◄ Back', root_path,
              data: { turbo_frame: :rooms },
              class: "rounded-lg py-2 px-5 text-lg text-yellow-400 filter saturate-150 contrast-75 font-medium hover:underline hover:opacity-80 transition duration-300 float-right",
              style: "color: rgb(106, 90, 205);" %>
      </div>
    </div>
  </div>
</div>
